footer {
    background-color: #101012;
    padding: 7rem 0 5rem;
}
.footer {    
    display: flex;
    justify-content: space-between;
    max-width: 144rem;
    margin: 0 auto;
    padding-left: 1,5rem;
    padding-right: 1,5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    &-list {
        list-style: none;
        padding-left: 0;
        margin: 0;
        &__item {
            margin-bottom: 2rem;
        }
        &__link {
            font-size: 1.8rem;
            color: #C2C2C2;
            text-decoration: none;
            font-weight: 600;
        }

    }
}
